.todayWeather {
  display: flex;
  align-items: center;
  gap: 1.25em;
  padding: 1.875em;
  border: 1px #dfdfdf solid;
  background-color: var(--white-color);
}

.date {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 700;
}

.location {
  margin-top: 0.3em;
  font-size: clamp(24px, 4vw, 36px);
  font-weight: 700;
}

.sub {
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 600;
  vertical-align: baseline;
  color: var(--gray-color);
}

.temperatureContainer {
  margin-left: auto;
}
.temperature {
  font-weight: 700;
  text-align: right;
  font-size: clamp(36px, 6vw, 50px);
}

@media only screen and (max-width: 768px) {
  .todayWeather {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .temperatureContainer {
    margin-left: 0;
  }
  .date,
  .location,
  .temperature,
  .sub {
    text-align: center;
  }
}
