.forecastContainer {
  background-color: var(--white-color);
  margin-top: 1.7em;
  border: 1px #dfdfdf solid;
}
.forecastH2 {
  font-size: clamp(24px, 4vw, 36px);
  font-weight: 700;
  text-align: center;
  margin: 0.78em 0;
}

.accordion {
  width: 100%;
  padding: 1.75em;
  border-top: 1px #dfdfdf solid;
  border-bottom: 1px #dfdfdf solid;
}

.accordionBtn {
  display: flex;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: clamp(24px, 4vw, 30px);
  font-weight: 700;
  cursor: pointer;
}

.accordionBtn > span {
  margin-left: auto !important;
}

.arrowDown {
  rotate: 180deg;
}

.dayInfo {
  display: flex;
  padding: 1.5em;
  align-items: center;
  gap: 1.25em;
  align-items: center;
  margin-top: 1em;
}

.time {
  font-size: clamp(24px, 4vw, 30px);
  font-weight: 700;
  margin-right: auto;
}

.temperature {
  font-size: clamp(24px, 4vw, 30px);
  font-weight: 700;
}

.temperatureDesc {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 600;
  text-align: right;
  color: var(--gray-color);
}

@media only screen and (max-width: 768px) {
  .dayInfo {
    margin-top: 1rem;
    border-radius: 6px;
    flex-direction: column;
    border: 1px #dfdfdf solid;
  }
  .time {
    margin-right: 0;
  }

  .temperatureDesc {
    text-align: center;
  }
}
