.h1 {
  margin-top: 1.23em;
  font-size: clamp(32px, 8vw, 82px);
  font-weight: 900;
  text-align: center;
}

.pre {
  color: var(--primary-color);
}

.p {
  margin-top: 1.25em;
  color: var(--gray-color);
  font-size: clamp(12px, 2vw, 16px);
  text-align: center;
}

.aContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1.25em;
}

.a {
  color: var(--primary-color);
  font-size: clamp(12px, 2vw, 16px);
  border: 1px var(--primary-color) solid;
  padding: 0.5em 3.125em;
  border-radius: 6px;
}

.a:hover {
  background-color: var(--primary-color-light);
}

.a:active {
  background-color: var(--primary-color-dark);
}

.img {
  text-align: center;
  margin-top: 4.125em;
}
